@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: transparent;
  
  --foreground: #ededed;
  --accent: #333333;
}

body {
  color: var(--foreground);
  background: #0a0a0a; /* Fallback */
  min-height: 100vh;
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
